.cbody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.co{
    width: 50%;
    display: flex;
    justify-self: center;
    
}
.contact-container input{
    width: 400px;
}
.contact-container {
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    height: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f2f2f2;

    flex-direction: column;
}
.cbody .logo{
    color: wheat;
}
/* .cbody header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: .5s;
} */

.cbody header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: .5s;
}

.cbody .ull .activex{
    color: violet;
}
.ull li a:hover{
    color: violet;
}

.cbody header .ull .activex{
    color: violet;
}

.ull li:hover{
    color: violet;
}
.contact-container {
    margin-top: 100px;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.contact-container h1{
    font-weight: 400;
}
.cbody form {
    display: flex;
    flex-direction: column;
}

.cbody label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.success-msg,
.error-msg {
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.success-msg {
    background-color: #d1f3cd;
    color: #2b542c;
}

.error-msg {
    background-color: #f8d7da;
    color: #721c24;
}

#submitBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #0056b3;
}
